@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 278 88% 10%;
    --foreground: 0 0% 98%;
    --card: 278 88% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 278 88% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 276 100% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 276 100% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 278 88% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 16 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 278 88% 20%;
    --input: 278 88% 20%;
    --ring: 276 100% 70%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 278 88% 10%;
    --foreground: 0 0% 98%;
    --card: 278 88% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 278 88% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 276 100% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 276 100% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 278 88% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 16 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 278 88% 20%;
    --input: 278 88% 20%;
    --ring: 276 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
  section {
    @apply py-16 sm:py-20 md:py-24;
  }
}
